//Mobile
@media (max-width: 479px) {
    nav {
        padding: 0 20px;
    }

    label.logo {
        font-size: 20px;
    }

    .container {
        width: 300px;
    }

    .header-text {
        width: 100%;

        h1 {
            font-size: 40px;
        }

        p {
            padding: 0 45px;
            font-size: 15px;
        }
    }

    ul {
        width: 100%;
    }

    #contact-form {
        h1 {
            font-size: 35px;
        }

        input, textarea {
            font-size: 18px;
            width: 320px;
        }
    }
}

//Wide Mobile
@media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 460px;
    }

    .header-text {
        width: 100%;

        h1 {
            font-size: 40px;
        }

        p {
            padding: 0 45px;
            font-size: 15px;
        }
    }

    ul {
        width: 100%;
    }
    
    #contact-form {
        h1 {
            font-size: 50px;
        }

        input, textarea {
            font-size: 18px;
            width: 440px;
        }
    }
}

@media (max-width: 959px) {
    header {
        flex-wrap: wrap;
    }

    .header-img {
        width: 100%;
    }

    .plan {
        width: 100%;
    }

    #info {
        h1 {
            font-size: 27px;
        }
    }

    .container {
        h2 {
            font-size: 22px;
        }

        p {
            font-size: 17px;
        }
    }

    .firstList,
    .secondList {
        h2 {
            font-size: 20px;
        }

        width: 100%;

        p {
            font-size: 18px;
        }
    }
}

@media (min-width: 960px) {
    #prices {
        height: 100vh;
        overflow-x: hidden;
    }

    .plan {
        width: 30%;
    }
}

//Tablet portait
@media (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 720px;
    }

    .header-text {
        width: 100%;

        h1 {
            font-size: 60px;
        }

        p {
            padding: 0 45px;
            font-size: 15px;
        }
    }

    ul {
        width: 100%;
    }

    #contact-form {
        h1 {
            font-size: 55px;
        }

        input, textarea {
            font-size: 18px;
            width: 720px;
        }
    }
}

//Desktop and Tablet landspace
@media (min-width: 960px) and (max-width: 1219px) {
    body {
        min-height: 100vh;
    }
    
    .container {
        width: 900px;
    }

    label.logo {
        font-size: 25px;
    }

    nav ul#nav li a {
        font-size: 12px;
    }

    .firstList,
    .secondList {
        h2 {
            font-size: 20px;
        }

        width: 45%;

        p {
            font-size: 18px;
        }
    }

    #contact-form {
        h1 {
            font-size: 60px;
        }

        input, textarea {
            font-size: 18px;
            width: 920px;
        }
    }
}

//Large Desktop
@media (min-width: 1220px) and (max-width: 1919px) {
    body {
        min-height: 100vh;
    }

    nav ul#nav li a {
        font-size: 15px;
    }

    .container {
        width: 90%;
    }

    .firstList,
    .secondList {
        width: 45%;

        p {
            font-size: 18px;
        }
    }
}

//Extra large Desktop
@media (min-width: 1920px) {
    body {
        min-height: 100vh;
    }

    .container {
        max-width: 90%;
    }

    .header-text {
        width: 50%;

        h1 {
            font-size: 70px;
        }

        p {
            padding: 0 45px;
            font-size: 20px;
        }
    }

    .firstList,
    .secondList {
        width: 45%;

        p {
            font-size: 18px;
        }
    }
}

//Nav
@media (max-width: 959px) {
    ul#nav {
        padding-right: 15px;
        position: fixed;
        height: 100vh;
        top: 80px;
        right: -100%;
        text-align: right;
        transition: all 0.3s;
        background: $Azure;
    }

    .checkbtn {
        font-size: 30px;
        color: $White;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: block;

        span {
            text-align: right;
            cursor: pointer;
        }
    }

    #check {
        display: none;
    }

    nav ul#nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

        a {
            font-size: 20px;
        }
    }

    nav ul#nav li a {
        font-size: 16px;
    }

    #check:checked ~ ul#nav {
        right: 0;
    }
}

@media (min-width: 960px) {
    ul#nav {
        float: none;
        display: flex;
    }

    .checkbtn {
        display: none;
    }

    #check {
        display: none;
    }
}

//Contact
@media (min-width: 1220px) {
    #contact-form {
        h1 {
            font-size: 60px;
        }

        input, textarea {
            font-size: 18px;
            width: 950px;
        }
    }
}
