@import 'fonts';
@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $Dark-Azure;
    }
}

body {
    font-family: $Montserrat;
    min-width: 100vw;
    overflow-x: hidden;
}

.container {
    margin: 25px auto;

    p {
        margin: 15px 0;
        font-size: 18px;
    }

    h2 {
        font-size: 35px;
        color: $Azure;
        margin: 5px 0;
    }

    ol,
    ul {
        margin: 15px 25px;

        li {
            font-size: 18px;
            margin: 15px 0;
        }
    }
}

h1, h2, h3, h4, h5, h6, p {
    cursor: default;
}

a {
    color: $Black;
}

//Error
#error-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        color: $Azure;
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
    }
}

//Nav
nav {
    width: 100vw;
    background-color: $Azure;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-name {
    a {
        color: $White;
        font-weight: 900;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
}

.links {
    ul {
        display: flex;
        justify-content: center;
    }

    li {
        list-style: none;
        margin: 0 15px;

        a {
            color: $White;
        }
    }
}

//Header

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header-text {
    width: 50%;
    text-align: center;

    h1 {
        color: $Azure;
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
        cursor: default;
    }

    p {
        transition: ease-in-out 0.75s;
        letter-spacing: 7px;
    }
}

.header-img {
    width: 50%;
    background: url(../assets/img/img2.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
}

//Main
main {
    margin: auto;
}

.itemList {
    display: flex;
    align-items: center;
    margin: 15px 0;

    span {
        color: $Azure;
    }
}

.main-section-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    font-size: 25px;
    color: $Azure;
    margin: 5px 0;
}

//Footer
footer {
    padding: 5px;
    background: $Azure;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $White;
    text-align: center;
}

//Prices
#prices {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

#prices-continer {
    h1 {
        color: $Azure;
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
        cursor: default;
    }
}

#plan-contenedores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
}

.plan {
    width: 30%;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 5px 5px 10px #0005;
}

h3 {
    font-size: 30px;
    color: $Azure;
    font-weight: 700;
    margin: 10px;
}

.plan-price {
    font-size: 20px;
    font-weight: 800;
}

.plan-buttons-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button.plan-buy {
    margin: 10px;
    padding: 10px;
    background: $Azure;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;

    a {
        color: $White;
    }
}

button.plan-info {
    margin: 10px;
    padding: 10px;
    background: $White;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;

    a {
        color: $Azure;
    }
}

//Contact
#contact {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

#contact-form {
    h1 {
        color: $Azure;
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
        cursor: default;
    }

    input {
        font-family: $Montserrat;
        font-size: 18px;
        width: 600px;
        margin: 10px;
        padding: 10px;
        border: 1px solid $Transparent;
        border-bottom: 1px solid $Azure;
        transition: ease-in 0.1s;

        &:focus {
            border-radius: 5px;
            outline: none;
            border: 1px solid $Azure;

            &::placeholder {
                color: transparent;
            }
        }
    }

    textarea {
        border: 1px solid $Azure;
        resize: none;
        font-family: $Montserrat;
        font-size: 18px;
        width: 600px;
        height: 200px;
        margin: 10px;
        padding: 10px;

        &:focus {
            outline: none;
            border: 1px solid $Azure;

            &::placeholder {
                color: transparent;
            }
        }
    }

    button.submit-button {
        border: none;
        background: $Azure;
        padding: 5px;
        transition: ease-in-out 0.5s;
        cursor: pointer;

        p {
            font-family: $Montserrat;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            color: $White;

            span {
                margin: 0 10px 0 0;
            }
        }

        &:hover {
            background: $Dark-Azure;
        }
    }
}

//Info

#info {
    h1 {
        color: $Azure;
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
        cursor: default;
    }
}

@import 'responsive';