@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		text-decoration: none;
}

html {
		scroll-behavior: smooth;
}
html::-webkit-scrollbar {
		width: 10px;
}
html::-webkit-scrollbar-thumb {
		background: #004085;
}

body {
		font-family: "Montserrat", sans-serif;
		min-width: 100vw;
		min-height: 100vh;
		overflow-x: hidden;
}

.container {
		margin: 25px auto;
}
.container p {
		margin: 15px 0;
		font-size: 18px;
}
.container h2 {
		font-size: 35px;
		color: #004085;
		margin: 5px 0;
}
.container ol,
.container ul {
		margin: 15px 25px;
}
.container ol li,
.container ul li {
		font-size: 18px;
		margin: 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
		cursor: default;
}

a {
		color: #000;
}

#error-page {
		height: 100vh;
		width: 100vw;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
}
#error-page h1 {
		color: #004085;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
}
#error-page .back {
		margin-top: 40px;
		line-height: 7px;
}
#error-page .back a {
		padding: 10px;
		border-radius: 10px;
		letter-spacing: 2px;
		font-size: 20px;
		background: #004085;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		font-style: oblique;
}

nav {
		top: 0;
		width: 100%;
		margin: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 0 50px;
		background: #004085;
}
nav ul#nav {
		margin-left: 20px;
}
nav ul#nav li {
		display: inline-block;
		margin: 0 5px;
		padding-right: 10px;
}
nav ul#nav li a {
		color: #fff;
		font-size: 16px;
		padding: 7px 5px;
		border-radius: 3px;
		text-transform: uppercase;
}

label.logo {
		font-size: 35px;
		line-height: 80px;
		font-weight: bold;
}
label.logo a {
		color: #fff;
}

header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}

.header-text {
		width: 50%;
		text-align: center;
		margin: 50px 0;
}
.header-text h1 {
		color: #004085;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
		cursor: default;
}
.header-text p {
		font-size: 17px;
		letter-spacing: 7px;
}

.header-img {
		width: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.header-img img {
		width: 75%;
		height: auto;
}

main {
		margin: auto;
}

.itemList {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: start;
		margin: 15px 0;
		text-align: left;
}
.itemList span {
		color: #004085;
		margin-right: 5px;
}

.main-section-1 {
		padding: 0 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
}

h2 {
		font-size: 25px;
		color: #004085;
		margin: 5px 0;
}

footer {
		padding: 5px;
		background: #004085;
		width: 100vw;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		color: #fff;
		text-align: center;
}

#prices {
		width: 100vw;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		overflow: auto;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-line-pack: justify;
		    align-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		text-align: center;
}

#prices-continer h1 {
		color: #004085;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
		cursor: default;
}

#plan-contenedores {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding: 0 25px;
		margin: 25px 0;
}

.plan {
		border-radius: 15px;
		padding: 25px;
		margin: 10px 0;
		-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3333333333);
		        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3333333333);
}

h3 {
		font-size: 30px;
		color: #004085;
		font-weight: 700;
		margin: 10px;
}

.plan-price {
		font-size: 20px;
		font-weight: 800;
}

.plan-buttons-container {
		width: 100%;
		margin-top: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}

button.plan-buy {
		margin: 10px;
		padding: 10px;
		background: #004085;
		border: none;
		border-radius: 5px;
		font-size: 12px;
		cursor: pointer;
		font-weight: 800;
		text-transform: uppercase;
}
button.plan-buy a {
		color: #fff;
}

button.plan-info {
		margin: 10px;
		padding: 10px;
		background: #fff;
		border: none;
		border-radius: 5px;
		font-size: 12px;
		cursor: pointer;
		font-weight: 800;
		text-transform: uppercase;
}
button.plan-info a {
		color: #004085;
}

#contact {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-line-pack: justify;
		    align-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		text-align: center;
}

#contact-form h1 {
		color: #004085;
		font-weight: 900;
		text-transform: uppercase;
		cursor: default;
}
#contact-form input {
		font-family: "Montserrat", sans-serif;
		margin: 10px;
		padding: 10px;
		border: 1px solid rgba(0, 0, 0, 0);
		border-bottom: 1px solid #004085;
		-webkit-transition: ease-in 0.1s;
		transition: ease-in 0.1s;
}
#contact-form input:focus {
		border-radius: 5px;
		outline: none;
		border: 1px solid #004085;
}
#contact-form input:focus::-webkit-input-placeholder {
		color: transparent;
}
#contact-form input:focus::-moz-placeholder {
		color: transparent;
}
#contact-form input:focus:-ms-input-placeholder {
		color: transparent;
}
#contact-form input:focus::-ms-input-placeholder {
		color: transparent;
}
#contact-form input:focus::placeholder {
		color: transparent;
}
#contact-form textarea {
		border: 1px solid #004085;
		resize: none;
		font-family: "Montserrat", sans-serif;
		height: 200px;
		margin: 10px;
		padding: 10px;
}
#contact-form textarea:focus {
		outline: none;
		border: 1px solid #004085;
}
#contact-form textarea:focus::-webkit-input-placeholder {
		color: transparent;
}
#contact-form textarea:focus::-moz-placeholder {
		color: transparent;
}
#contact-form textarea:focus:-ms-input-placeholder {
		color: transparent;
}
#contact-form textarea:focus::-ms-input-placeholder {
		color: transparent;
}
#contact-form textarea:focus::placeholder {
		color: transparent;
}
#contact-form button.submit-button {
		border: none;
		background: #004085;
		padding: 5px;
		-webkit-transition: ease-in-out 0.5s;
		transition: ease-in-out 0.5s;
		cursor: pointer;
}
#contact-form button.submit-button p {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 5px;
		color: #fff;
}
#contact-form button.submit-button p span {
		margin: 0 10px 0 0;
}
#contact-form button.submit-button:hover {
		background: #004085;
}

#info h1 {
		color: #004085;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
		cursor: default;
}

@media (max-width: 479px) {
		nav {
				padding: 0 20px;
		}
		label.logo {
				font-size: 20px;
		}
		.container {
				width: 300px;
		}
		.header-text {
				width: 100%;
		}
		.header-text h1 {
				font-size: 40px;
		}
		.header-text p {
				padding: 0 45px;
				font-size: 15px;
		}
		ul {
				width: 100%;
		}
		#contact-form h1 {
				font-size: 35px;
		}
		#contact-form input, #contact-form textarea {
				font-size: 18px;
				width: 320px;
		}
}
@media (min-width: 480px) and (max-width: 767px) {
		.container {
				width: 460px;
		}
		.header-text {
				width: 100%;
		}
		.header-text h1 {
				font-size: 40px;
		}
		.header-text p {
				padding: 0 45px;
				font-size: 15px;
		}
		ul {
				width: 100%;
		}
		#contact-form h1 {
				font-size: 50px;
		}
		#contact-form input, #contact-form textarea {
				font-size: 18px;
				width: 440px;
		}
}
@media (max-width: 959px) {
		header {
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
		}
		.header-img {
				width: 100%;
		}
		.plan {
				width: 100%;
		}
		#info h1 {
				font-size: 27px;
		}
		.container h2 {
				font-size: 22px;
		}
		.container p {
				font-size: 17px;
		}
		.firstList,
		.secondList {
				width: 100%;
		}
		.firstList h2,
		.secondList h2 {
				font-size: 20px;
		}
		.firstList p,
		.secondList p {
				font-size: 18px;
		}
}
@media (min-width: 960px) {
		#prices {
				height: 100vh;
				overflow-x: hidden;
		}
		.plan {
				width: 30%;
		}
}
@media (min-width: 768px) and (max-width: 959px) {
		.container {
				width: 720px;
		}
		.header-text {
				width: 100%;
		}
		.header-text h1 {
				font-size: 60px;
		}
		.header-text p {
				padding: 0 45px;
				font-size: 15px;
		}
		ul {
				width: 100%;
		}
		#contact-form h1 {
				font-size: 55px;
		}
		#contact-form input, #contact-form textarea {
				font-size: 18px;
				width: 720px;
		}
}
@media (min-width: 960px) and (max-width: 1219px) {
		body {
				min-height: 100vh;
		}
		.container {
				width: 900px;
		}
		label.logo {
				font-size: 25px;
		}
		nav ul#nav li a {
				font-size: 12px;
		}
		.firstList,
		.secondList {
				width: 45%;
		}
		.firstList h2,
		.secondList h2 {
				font-size: 20px;
		}
		.firstList p,
		.secondList p {
				font-size: 18px;
		}
		#contact-form h1 {
				font-size: 60px;
		}
		#contact-form input, #contact-form textarea {
				font-size: 18px;
				width: 920px;
		}
}
@media (min-width: 1220px) and (max-width: 1919px) {
		body {
				min-height: 100vh;
		}
		nav ul#nav li a {
				font-size: 15px;
		}
		.container {
				width: 1024px;
		}
		.firstList,
		.secondList {
				width: 45%;
		}
		.firstList p,
		.secondList p {
				font-size: 18px;
		}
}
@media (min-width: 1920px) {
		body {
				min-height: 100vh;
		}
		.container {
				max-width: 90%;
		}
		.header-text {
				width: 50%;
		}
		.header-text h1 {
				font-size: 70px;
		}
		.header-text p {
				padding: 0 45px;
				font-size: 20px;
		}
		.firstList,
		.secondList {
				width: 45%;
		}
		.firstList p,
		.secondList p {
				font-size: 18px;
		}
}
@media (max-width: 959px) {
		ul#nav {
				padding-right: 15px;
				position: fixed;
				height: 100vh;
				top: 80px;
				right: -100%;
				text-align: right;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
				background: #004085;
		}
		.checkbtn {
				font-size: 30px;
				color: #fff;
				float: right;
				line-height: 80px;
				margin-right: 40px;
				cursor: pointer;
				display: block;
		}
		.checkbtn span {
				text-align: right;
				cursor: pointer;
		}
		#check {
				display: none;
		}
		nav ul#nav li {
				display: block;
				margin: 50px 0;
				line-height: 30px;
		}
		nav ul#nav li a {
				font-size: 20px;
		}
		nav ul#nav li a {
				font-size: 16px;
		}
		#check:checked ~ ul#nav {
				right: 0;
		}
}
@media (min-width: 960px) {
		ul#nav {
				float: none;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
		}
		.checkbtn {
				display: none;
		}
		#check {
				display: none;
		}
}
@media (min-width: 1220px) {
		#contact-form h1 {
				font-size: 60px;
		}
		#contact-form input, #contact-form textarea {
				font-size: 18px;
				width: 950px;
		}
}