@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		text-decoration: none;
}

html {
		overflow-x: hidden;
		scroll-behavior: smooth;
}
html::-webkit-scrollbar {
		width: 10px;
}
html::-webkit-scrollbar-thumb {
		background: #0068d8;
}

body {
		font-family: "Montserrat", sans-serif;
}

.container {
		margin: 25px auto;
}
.container p {
		margin: 15px 0;
		font-size: 18px;
}
.container h2 {
		font-size: 35px;
		color: #007bff;
		margin: 5px 0;
}
.container ol,
.container ul {
		margin: 15px 25px;
}
.container ol li,
.container ul li {
		font-size: 18px;
		margin: 15px 0;
}

h1, h2, h3, h4, h5, h6, p {
		cursor: default;
}

a {
		color: #000;
}

#error-page {
		height: 100vh;
		width: 100vw;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
}
#error-page h1 {
		color: #007bff;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
}

nav {
		width: 100vw;
		background-color: #007bff;
		padding: 15px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}

.page-name a {
		color: #fff;
		font-weight: 900;
		font-size: 35px;
		text-transform: uppercase;
		letter-spacing: 5px;
}

.links ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.links li {
		list-style: none;
		margin: 0 15px;
}
.links li a {
		color: #fff;
}

header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}

.header-text {
		width: 50%;
		text-align: center;
}
.header-text h1 {
		color: #007bff;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
		cursor: default;
}
.header-text p {
		-webkit-transition: ease-in-out 0.75s;
		transition: ease-in-out 0.75s;
		letter-spacing: 7px;
}

.header-img {
		width: 50%;
		background: url(../assets/img/img2.svg);
		background-repeat: no-repeat;
		background-position: center;
		height: 75vh;
}

main {
		margin: auto;
		width: 80%;
}

.itemList {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 15px 0;
}
.itemList span {
		color: #007bff;
}

.main-section-1 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
}

.firstList,
.secondList {
		margin: 25px;
}

h2 {
		font-size: 25px;
		color: #007bff;
		margin: 5px 0;
}

footer {
		padding: 5px;
		background: #007bff;
		width: 100vw;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		color: #fff;
}

#prices {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-line-pack: justify;
		    align-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		text-align: center;
}

#prices-continer h1 {
		color: #007bff;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
		cursor: default;
}

#plan-contenedores {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 25px 0;
}

.plan {
		width: 30%;
		border-radius: 15px;
		padding: 25px;
		-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3333333333);
		        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3333333333);
}

h3 {
		font-size: 30px;
		color: #007bff;
		font-weight: 700;
		margin: 10px;
}

.plan-price {
		font-size: 20px;
		font-weight: 800;
}

.plan-buttons-container {
		width: 100%;
		margin-top: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}

button.plan-buy {
		margin: 10px;
		padding: 10px;
		background: #007bff;
		border: none;
		border-radius: 5px;
		font-size: 12px;
		cursor: pointer;
		font-weight: 800;
		text-transform: uppercase;
}
button.plan-buy a {
		color: #fff;
}

button.plan-info {
		margin: 10px;
		padding: 10px;
		background: #fff;
		border: none;
		border-radius: 5px;
		font-size: 12px;
		cursor: pointer;
		font-weight: 800;
		text-transform: uppercase;
}
button.plan-info a {
		color: #007bff;
}

#contact {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-line-pack: justify;
		    align-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		text-align: center;
}

#contact-form h1 {
		color: #007bff;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
		cursor: default;
}
#contact-form input {
		font-family: "Montserrat", sans-serif;
		font-size: 18px;
		width: 600px;
		margin: 10px;
		padding: 10px;
		border: 1px solid rgba(0, 0, 0, 0);
		border-bottom: 1px solid #007bff;
		-webkit-transition: ease-in 0.1s;
		transition: ease-in 0.1s;
}
#contact-form input:focus {
		border-radius: 5px;
		outline: none;
		border: 1px solid #007bff;
}
#contact-form input:focus::-webkit-input-placeholder {
		color: transparent;
}
#contact-form input:focus::-moz-placeholder {
		color: transparent;
}
#contact-form input:focus:-ms-input-placeholder {
		color: transparent;
}
#contact-form input:focus::-ms-input-placeholder {
		color: transparent;
}
#contact-form input:focus::placeholder {
		color: transparent;
}
#contact-form textarea {
		border: 1px solid #007bff;
		resize: none;
		font-family: "Montserrat", sans-serif;
		font-size: 18px;
		width: 600px;
		height: 200px;
		margin: 10px;
		padding: 10px;
}
#contact-form textarea:focus {
		outline: none;
		border: 1px solid #007bff;
}
#contact-form textarea:focus::-webkit-input-placeholder {
		color: transparent;
}
#contact-form textarea:focus::-moz-placeholder {
		color: transparent;
}
#contact-form textarea:focus:-ms-input-placeholder {
		color: transparent;
}
#contact-form textarea:focus::-ms-input-placeholder {
		color: transparent;
}
#contact-form textarea:focus::placeholder {
		color: transparent;
}
#contact-form button.submit-button {
		border: none;
		background: #007bff;
		padding: 5px;
		-webkit-transition: ease-in-out 0.5s;
		transition: ease-in-out 0.5s;
		cursor: pointer;
}
#contact-form button.submit-button p {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 5px;
		color: #fff;
}
#contact-form button.submit-button p span {
		margin: 0 10px 0 0;
}
#contact-form button.submit-button:hover {
		background: #0068d8;
}

#info h1 {
		color: #007bff;
		font-weight: 900;
		font-size: 60px;
		text-transform: uppercase;
		cursor: default;
}